@using Ecommerce.Models
@model List<Category> //- Indica que la vista recibe una lista de objetos Category como modelo.

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Lista de  Categorias</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
           
            <div class="col-12 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <!-- aqui agregamos un botton para agregar una categoria-->
                    Agregar una categoria  <i class="bi bi-plus-circle-fill"></i> <!--icon de + -->
                </a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <!-- creamos una tabla con estilo de bosstarp-->
            <thead>
                <tr>
                    <th>
                        Nombre de Categoria
                    </th>
                    <th>
                        Orden de Visualización
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.OrderBy(x => x.DisplayOrder))
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.DisplayOrder</td>
                        <td>
                            <!--   este es el listado de categoria y se agrega su boton de editar -->
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Editar
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash3"></i> Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @if (TempData["success"] != null)
    {
        <script>
            toastr.options.positionClass = "toast-top-center";
            toastr.success('@TempData["success"]');
        </script>

        @* Esto borra mensaje no este atorado *@
        TempData.Remove("success");
    }

    @if (TempData["error"] != null)
    {
        <script>
            toastr.options.positionClass = "toast-top-center";
            toastr.error('@TempData["error"]');
        </script>

        TempData.Remove("error");
    }
}



